__pycache__/

build/
dist/
downloads/
env/
lib/
lib64/
log/
logs/

sparsehash/
torchsparse/
torchsparse_dir/

.cache
.env
.ipynb_checkpoints
.Python
.python-version
.vscode

*.DS_Store
*.egg
*.egg-info/
*.log
*.pth
*.sh
